body {
    background-color: hsl(216, 12%, 8%);
    align-items: center;
    
}

.submit {
    border: 10px solid hsl(213, 19%, 18%);
    border-radius: 20px;
    width: 400px;
    margin-left: 800px;
    background-color: hsl(213, 19%, 18%);
    margin-top: 250px;
    
}

h1 {
    color: white;
    font-family: 'Overpass';
    margin-left: 10px;
}


p {
    color: hsl(217, 12%, 63%);
    font-family: 'Overpass';
    font-size: 15px;
    margin-left: 10px;
    
}

.estrela {
    border: 5px solid hsl(215, 15%, 16%);
    border-radius: 20px;
    border-width: 12px;
    background-color: hsl(214, 16%, 20%);
    margin-left: 10px;
    margin-top: 20px;
    font-family: 'Overpass';

}

#boxes {
    display: flex;
  }
  
  .box {
      border-radius: 100%;
      width: 50px;
      height: 50px;
      margin-left: 20px;
      background-color: hsl(215, 15%, 16%);
      font-family: 'Overpass'; 
      padding: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
  }


.submit-button {
    color: white;
    background-color: hsl(25, 97%, 53%);
    border: 1px solid hsl(213, 19%, 18%);
    border-radius: 40px;
    border-width: 20px;
    margin-top: 30px;
    width: 350px;
    text-align: center;
    margin-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Overpass';
}

.attribution {
    color: white;
    margin-top: 50px;
    margin-right: 100px;
}